@page "/product"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<style>
    .product-name {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product-price {
        display: block;
        white-space: nowrap;
    }

    .bg-text {
        background-color: white;
    }

    .col-sm-4 .border {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-4 .container-fluid {
        transition: box-shadow 0.3s, transform 0.3s;
    }

    .col-sm-4:hover .border {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }

    .col-sm-4:hover .container-fluid {
        transform: translateY(-5px);
    }

    .breadcrumb-item a {
        color: #6c757d;
        text-decoration: none;
    }

    .active > .page-link, .page-link.active {
        border: 1.5px solid black;
    }

  
</style>

<div class="container">
    <ol class="breadcrumb bg-transparent">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
    </ol>
    <div class="row mt-3">
        <div class="col-sm-3">
            <h5>Tìm kiếm</h5>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control w-100" placeholder="Tìm kiếm sản phẩm" @bind="searchTerm" @oninput="OnSearchTermChanged">
            </div>

            <h5>Loại</h5>
            <form>
                @if (categories != null)
                {
                    @foreach (var category in categories)
                    {
                        <div class="custom-checkbox">
                            <input class="form-check-input1" type="checkbox" value="@category.IDCategory" id="@category.IDCategory"
                                   @onchange="@(e => OnCategoryChanged(category.IDCategory, (bool)((ChangeEventArgs)e).Value))">
                            <label for="@category.IDCategory">@category.Name</label>
                        </div>

                    }
                }
                else
                {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
            </form>

            <hr class="mt-3 mb-3">

            <h5>Phạm vi giá</h5>
            <div class="input-group mb-3 w-100">
                <n>Từ</n>
                <input type="number" placeholder="Thấp" class="form-control w-100" @bind="lowPrice" id="priceLow" min="0">
                <n>Đến</n>
                <input type="number" placeholder="Cao" class="form-control w-100" @bind="highPrice" id="priceHigh" min="0">
                <button type="button" class="btn btn-dark w-100" @onclick="OnFilterByPrice">Lọc</button>
            </div>

            <hr class="mt-3 mb-3">

            <h5>Thứ tự sắp xếp</h5>
            <input class="form-check-input1" type="radio" name="sortOrder" id="priceLowToHigh" value="priceLowToHigh" @onchange="@(e => OnSortOrderChanged("priceLowToHigh"))">
            <label class="form-check-label" for="priceLowToHigh">
                Giá từ thấp - cao
            </label>
            <br />
            <input class="form-check-input1" type="radio" name="sortOrder" id="priceHighToLow" value="priceHighToLow" @onchange="@(e => OnSortOrderChanged("priceHighToLow"))">
            <label class="form-check-label" for="priceHighToLow">
                Giá từ cao - thấp
            </label>
        </div>

        <div class="col-sm-9">
            <div class="row">
                @if (message != null)
                {
                    <div class="fw-bold" id="messagePrice">@message</div>
                }
                @if (pagedProducts != null && categories != null)
                {
                    @foreach (var x in pagedProducts.Where(x => x.Status == "Bán").ToList())
                        {
                        <div class="col-sm-4 d-flex justify-content-center flex-column prod mb-4">
                            <div class="border border-secondary-subtle rounded">
                                <a href="/productdetail/@x.IDProduct"><img src="@x.Image" alt="Alternate Text" class="mw-100" /></a>
                            </div>
                            <div class="row container-fluid">
                                <div class="col-md-8">
                                    <span class="fw-bold product-name">@x.Name</span>
                                    <br />
                                    <span style="font-size: small; line-height: 1" class="text-truncate">@categories.FirstOrDefault(z => z.IDCategory == x.IDCategory)?.Name</span>
                                    <br />
                                    <span style="line-height: 3"><i class="bi bi-star-fill text-warning"></i> 4.9 (100)</span>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold product-price">@x.Price.ToString("N0") đồng</p>
                                </div>

                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                            <a class="page-link text-black" aria-label="Previous" @onclick="() => ChangePage(currentPage - 1)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (var i = currentPage - 2; i <= currentPage + 2; i++)
                        {
                            int j = i;
                            if(i > 0 & i<=totalPages)
                            {
                                <li class="page-item @(currentPage == i ? "active" : "")">
                                    <a class="page-link text-black bg-white" @onclick="() => ChangePage(j)">
                                        <span>@i</span>
                                    </a>
                                </li>

                            }
                        }
                        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                            <a class="page-link text-black" aria-label="Next" @onclick="() => ChangePage(currentPage + 1)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
